/* styles.css */
body {
    background-color: #333; /* Set a dark background color */
    color: #fff;
}

.container {
    margin-top: 20px;
}

.navbar {
    border-radius: 0;
}

.background {
    background-image: url('images/2.jpg');
    height: 92vh;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
}

.overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
}

.description {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    text-align: center;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}